<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.spring.board.dao.MemberDAO">

	<select id="getMember" parameterType="String" resultType="com.spring.board.domain.MemberDTO">
		SELECT id,pwd,name
		FROM member_info
		WHERE id=#{id}
	</select>
	
    <insert id="insert" parameterType="com.spring.board.domain.MemberDTO">
    	INSERT into member_info 
    	(id,pwd,name,phone_number,email,birth_date,created_at,updated_at)
    	values
    	(#{id},
    	#{pwd},
    	#{name},
    	#{phone_number},
    	#{email},
    	#{birth_date},
    	CURRENT_DATE,
    	CURRENT_DATE)
    </insert>

</mapper>